#en-tete{
    display: flex;
    padding-top: 3.15em;
    padding-left: 3.15em;
    padding-right: 3.15em;
    justify-content: space-between;
}
#logo{
    width: 61.09px;
    height: 19px;
}
nav{
    width: 381px;
    height: 19px;
    margin-top: 50px;
    }
#hébergements{
    text-decoration: none;
    color: black;
}

#activités{
    text-decoration: none;
    color: black;
}


#hébergements:hover{
    color: #0065FC;
}
    
#activités:hover{
    color: #0065FC;
}
