#en-tete{
    display: flex;
    padding-top: 3.15em;
    padding-left: 3.15em;
    padding-right: 3.15em;
    justify-content: space-between;
}

#Logo{
    max-width: 61px;
    max-height: 29px;
}

#nav{
    display: flex;
    width: 400px;
    height: 60px;
    justify-content: space-around;
}

#hebergements,#activites{
    text-decoration: none;
    color: black;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

}

#hebergements:hover{
    color: #0065FC;
    border-top: 15px #0065FC;
}
    
#activites:hover{
    color: #0065FC;
}

h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-left: 2.1em;
}

h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 3.15em;
}

.formulaire{
    display: flex;
    margin-top: 2em;
    padding-left: 3.15em;
    width: 418px;
    height: 50px;
}

#icone{
    background: #F2F2F2;
    border: 3px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 16px;
}

#Bouton{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px;
    color: white;
}

.champ{
    border-top: 2px solid #F2F2F2;
    border-left:2px solid #F2F2F2;
    border-bottom:2px solid #F2F2F2;
    border-right: none;
    padding: 15px 16px;
}

#Bouton:active{
    border:1px solid black ;
}

#filtres{
    display: flex;
    gap: 5em;
    margin-left: 3.15em;
    margin-top: 2em;
    
}

#economique,#Familial,#Romantique,#Animaux{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 5px 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}

#filtre{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 0.4em;
}

.font-filtre{
    color: blue;
}

#economique:hover,#Familial:hover,#Romantique:hover,#Animaux:hover{
    background-color: #DEEBFF;
}
#economique:active,#Familial:active,#Romantique:active,#Animaux:active{
    background-color: #DEEBFF;
}

#info{
    display: flex;
    padding-left: 3.15em;
    padding-top: 3.15em;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 10px;
}

#Font_Info{
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}

#Info_Texte{
    padding-top: 0.4em;
}

#Hébergements_à_Marseille{
    background-color:#F2F2F2;
    width: 880px;
    height: 626px;
    border-radius: 20px;
    margin-top: 2em;
    margin-left:3.15em;
}