body{
    max-width: 1440px;
    max-height: 1884px;
    margin: auto;
    font-family: 'Raleway';
    font-style: normal;
}
#en-tete{
    display: flex;
    max-width: 1308px;
    max-height: 202px;
    justify-content: space-between;
    align-items: center;
}

#Logo{
    max-width: 61px;
    max-height: 29px;
    align-items: center;
}

#nav{
    display: flex;
    width: 400px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

#hebergements,#activites{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
#hebergements{
    height: 100px;
    display: flex;
    align-items: center;
}
#hebergements:hover{
    color: #0065FC;
    border-top: solid 3px #0065fc;
    width: 150px;
}
    
#activites:hover{
    color: #0065FC;
}

h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.formulaire{
    display: flex;
    font-size: 0px;
    margin-top: 2em;

    width: 418px;
    height: 50px;
}

#icone{
    background: #F2F2F2;
    border: 3px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 16px;
    font-size: 16px;
}

#Bouton{
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 15.3px 16px;
    color: white;
}

.champ{
    border-top: 2px solid #F2F2F2;
    border-left:2px solid #F2F2F2;
    border-bottom:2px solid #F2F2F2;
    border-right: none;
    padding: 15.3px 16px ;
}

#Bouton:active{
    border:1px solid black ;
}

#filtres{
    display: flex;
    margin-top: 2em;
    max-width: 914px;
    max-height: 44px;
    justify-content: space-between;
}

#economique,#Familial,#Romantique,#Animaux{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 5px 20px;
    font-weight: 700;
}

#filtre{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 0.4em;
}

.font-filtre{
    color: blue;
}

#economique:hover,#Familial:hover,#Romantique:hover,#Animaux:hover{
    background-color: #DEEBFF;
}
#economique:active,#Familial:active,#Romantique:active,#Animaux:active{
    background-color: #DEEBFF;
}

#info{
    display: flex;
    padding-top: 3.15em;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 10px;
}

#Font_Info{
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}

#Info_Texte{
    padding-top: 0.4em;
}

#Hébergements_à_Marseille{

    flex-wrap: wrap;
    background-color:#F2F2F2;
    width: 880px;
    height: 700px;
    border-radius: 20px;
    margin-top: 2em;
    justify-content: space-around;
}

#premiere_ligne_hebergement{
    display: flex;
    justify-content: space-around;
    width: 880px;
}

#deuxieme_ligne_hebergement{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    width: 880px;
}

.Cartes_hebergements{
    display: flex;
    flex-direction: column;
    width: 246px;
    height: 230px;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}
.Texte_hebergement{
    width: 204px;
    height: 39px;

}

.photo_hebergement{
    width: 237px;
    max-height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 5px;
    margin-top: 5px;
}
h4{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: -0.5em;
}

.Texte_hebergement{
    font-weight: 400;
    font-size: 12px;
    padding-left: 1em;
}

.Etoiles_hebergement{
    font-weight: 400;
    font-size: 12px;
}

h3{
    display:flex ;
    max-height: 30px;
    margin-left: 2em;
    padding-top: 2em; 
    font-size: 22px;
    line-height: 26px;
}

.afficher_plus{
    font-weight: 700;
    font-size: 18px;
    margin-top: 2em;
    margin-left: 2em;
}

.etoiles_grise{
    color: #F2F2F2;
}

.Etoiles_hebergement{
    color: #0065FC;
}

#hebergements_populaires{
    display: flex;
    justify-content: space-between;
}

#Les_plus_populaires{
    display: flex;
    height: 700px;
    width: 500px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 2em;
}

.Cartes_populaire{
    height: 144px;
    width: 343px;
    background-color: white;
}

.photo_populaire{
    width: 137px;
    height: 144px;
}